<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.GoodsTradingProgram.mapper.imgMapper.ImgMapper">
    <resultMap id="img" type="com.join.GoodsTradingProgram.entity.img.Img">
        <id property="id" column="id"/>
        <result property="gid" column="gid"/>
        <result property="picUrl" column="picUrl"/>
    </resultMap>
    <insert id="addImg">
    INSERT INTO t_img
    (gid,picUrl,path)
    VALUES (#{img.gid},#{img.picUrl},#{img.path})
    </insert>

    <delete id="deleteImg">
    DELETE FROM t_img
    WHERE id=#{id}
    </delete>

    <select id="listImg" resultType="com.join.GoodsTradingProgram.entity.img.Img">
        SELECT *
        FROM t_img
        Where gid=#{gid}
    </select>
</mapper>