<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.GoodsTradingProgram.mapper.userMapper.UserMapper">
    <resultMap id="user" type="com.join.GoodsTradingProgram.entity.user.User">
        <id property="id" column="id"/>
        <result property="realname" column="realname"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="profession" column="profession"/>
        <result property="stuno" column="stuno"/>
        <result property="telnum" column="telnum"/>
        <result property="introduction" column="introduction"/>
        <result property="headurl" column="headurl"/>
    </resultMap>

    <select id="listUser" resultType="com.join.GoodsTradingProgram.entity.user.User">
        SELECT *
        FROM t_user
    </select>

    <select id="login" resultType="com.join.GoodsTradingProgram.entity.user.User">
        SELECT *
        FROM t_user
        WHERE username=#{user.username} AND password=#{user.password}
    </select>
    <insert id="register" parameterType="com.join.GoodsTradingProgram.entity.user.User" useGeneratedKeys="true"  keyProperty="id">
        INSERT INTO t_user(realname,username,password,profession,stuno,introduction,telnum,headurl)
        VALUES (#{user.realname},#{user.username},#{user.password},#{user.profession},#{user.stuno},#{user.introduction},#{user.telnum},#{user.headurl})
    </insert>
    <select id="selectUserMessage" resultType="com.join.GoodsTradingProgram.entity.user.User">
        SELECT *
        FROM t_user
        WHERE realname=#{user.realname} AND stuno=#{user.stuno}
    </select>
    <delete id="delUser">
        DELETE FROM t_user
        WHERE id=#{id}
    </delete>
    <update id="updateUser">
        UPDATE t_user
        SET password=#{user.password},introduction=#{user.introduction},telnum=#{user.telnum},headurl=#{user.headurl}
        WHERE id=#{user.id}
    </update>


    <!--<select id="listFeelBack" resultType="feelBack">-->
    <!--SELECT *-->
    <!--FROM t_feelback-->
    <!--</select>-->

    <!--<update id="updateFeelBack">-->
    <!--UPDATE t_feelback-->
    <!--SET status=#{feelback.status}-->
    <!--WHERE id=#{feelback.id}-->
    <!--</update>-->

    <!--<delete id="deleteFeelBack">-->
    <!--DELETE FROM t_feelback-->
    <!--WHERE id=#{id}-->
    <!--</delete>-->



    <!--<update id="updateUser">-->
    <!--UPDATE t_user-->
    <!--SET major=#{user.major},college=#{user.college}-->
    <!--WHERE id=#{user.id}-->
    <!--</update>-->

    <!--<update id="updateReport">-->
    <!--UPDATE t_report-->
    <!--SET score=#{report.score},point=#{report.point}-->
    <!--WHERE id=#{report.id}-->
    <!--</update>-->

    <!--<insert id="addReport">-->
    <!--INSERT INTO t_report-->
    <!--(class_name,teacher,stu_id,score,point,credit)-->
    <!--VALUES (#{report.class_name},#{report.teacher},-->
    <!--#{report.stu_id},#{report.score},#{report.point},#{report.credit})-->
    <!--</insert>-->
</mapper>